@charset "UTF-8";

a,
button {
  -webkit-appearance: none;
  cursor: pointer;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 58px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  padding: 0;
  padding-left: $btn-padding-x;
  padding-right: $btn-padding-x;
  background: none;
  border: none;

  &[disabled],
  &.disabled {
    pointer-events: none;
  }

  &.btn-sm {
    border-radius: $btn-border-radius-sm;
    text-transform: none;
    height: 56px;
    font-size: $btn-font-size-sm;
    letter-spacing: 0.01em;
    font-weight: 500;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: $btn-border-radius;
    transform-origin: center;
    transition: all 0.3s;
  }

  .btn-label-wrap {
    position: relative;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    line-height: 1;
  }

  .btn-label {
    z-index: 1;
    position: relative;
    display: inline-block;
    line-height: 1.2;
    transition: all 0.2s;

    &:after {
      content: attr(data-text);
      position: absolute;
      right: 0;
      left: 0;
      display: block;
      transition: all 0.5s;
      height: 100%;
    }
  }

  .btn-arrow {
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    margin-left: 8px;
    overflow: hidden;
    position: relative;
    flex: 0 0 auto;

    .btn-arrow-inner {
      display: block;
      width: 100%;
      height: 100%;
      transition: all 0.2s;

      svg {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  &.btn-primary {
    color: $secondary;
    &:before {
      background-color: $primary;
    }
  }

  &.btn-outline-secondary {
    &:before {
      border: 1px solid $secondary;
    }
  }

  &:hover {
    &:before {
      transform: scale(1.1);
    }
    .btn-label,
    .btn-arrow-inner {
      transform: translateY(-100%);
    }
  }

  @include media-breakpoint-down(md) {
    &.btn-rounded {
      border-radius: 100%;
      padding: 0;
      width: 70px;
      height: 70px;
      justify-content: center;

      .btn-text {
        display: none;
      }

      svg {
        margin: 0;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
  }

  @include media-breakpoint-up(xl) {
    height: 74px;
  }
}

#copyUrl {
  position: relative;
  overflow: visible;

  &:before {
    content: "Page url copied";
    position: absolute;
    left: 50%;
    top: 0;
    background-color: $secondary;
    color: $white;
    line-height: 24px;
    padding: 0 15px;
    border-radius: 10px;
    text-transform: none;
    font-weight: 400;
    letter-spacing: 0;
    transform: translate3d(-50%, -20px, 0);
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  &.copied {
    &:before {
      transform: translate3d(-50%, -30px, 0);
      opacity: 1;
    }
  }
}
