.card-case {
  border-radius: 4px;
  overflow: hidden;
  background-color: $gray-100;

  .card-image {
    overflow: hidden;
    border-radius: 4px 4px 0px 0px;

    .img-fade {
      @include img-abs-container(0%);
    }

    img {
      border-radius: 4px 4px 0px 0px;
    }
  }

  .card-main {
    height: 452px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 32px 24px;
    border-radius: 0 0 4px 4px;

    .card-logo {
      text-align: right;
      margin-bottom: auto;
      margin-left: auto;
      width: 120px;
      height: 120px;

      img {
        display: inline-block;
        width: 100%;
        height: auto;
      }
    }

    .card-title {
      @include font-size(2rem, 2.875rem);
      font-weight: 400;
      line-height: 1.15;
      letter-spacing: -0.01em;
      margin: 0 0 19px;
      text-decoration: none;
    }

    p {
      margin: 0 0 27px;
      font-size: 1.125rem;
    }

    .btn {
      align-self: flex-start;
      width: auto;
      font-weight: 500;
    }
  }

  &--featured {
    background-color: $primary;
  }

  @include media-breakpoint-up(md) {
    border-radius: 8px 8px 0 0;
    height: 662px;
    background-color: transparent;

    .card-image {
      border-radius: 8px 8px 0 0;

      .img-fade {
        padding-top: 0;
        height: 0;
        transition: height 0.5s;
      }

      img {
        border-radius: 8px 8px 0 0;
      }
    }

    .card-main {
      background-color: $gray-100;
      transition: background-color 0.5s;

      .card-logo {
        width: auto;
        height: auto;
        img {
          display: inline-block;
          width: 84px;
          height: auto;
        }
      }
    }

    &:hover {
      .card-image {
        .img-fade {
          height: 210px;
        }
      }

      .card-main {
        background-color: $primary;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    height: 710px;

    .card-main {
      height: 500px;
      padding: 32px;

      .card-title {
        font-size: 46px;
        line-height: 1.06;
        margin: 0 0 32px;
      }

      p {
        margin: 0 0 43px;
        font-size: 1rem;
        max-width: 420px;
        line-height: 1.3;
      }
    }
  }

  @include media-breakpoint-up(xxl) {
    height: 873px;

    .card-main {
      height: 602px;
    }

    &:hover {
      background-color: $primary;

      .card-image {
        .img-fade {
          height: 271px;
        }
      }
    }
  }
}
