textarea.form-control {
  resize: none;
  padding: 1.05rem 1.15rem;

  @include media-breakpoint-up(xl) {
    padding: 0.8rem 1rem;
  }
}

.form-label {
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

.form-check {
  min-height: 0;
  line-height: 1.125rem;

  .form-check-label {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.48;
  }

  @include media-breakpoint-up(xl) {
    .form-check-label {
      font-size: 1rem;
      line-height: 1.3;
    }
  }
}

.jstyling-select {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
  cursor: pointer;

  .jstyling-select-s {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:after {
      content: url(../images/select-primary.svg);
      width: 12px;
      height: 8px;
      font-size: 0;
      line-height: 0;
      flex: 0 0 auto;
    }

    .jstyling-select-t {
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .jstyling-select-l {
    margin: 0;
    display: none;
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 100%;

    div {
      list-style: none;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      cursor: pointer;
      position: relative;

      &:first-child {
        display: none;
      }
    }
  }

  &.active {
    z-index: 700;

    .jstyling-select-l {
      display: block;
    }
  }
}
