.pagination {
  display: flex;

  .btn {
    font-weight: 500;
    text-transform: uppercase;
    width: 100%;

    &.page-prev {
      svg {
        margin: 0 8px 0 0;
      }

      &:hover {
        svg {
          transform: rotate(-315deg);
        }
      }
    }
  }

  .form-select {
    width: auto;
    min-width: 94px;
    flex: 0 0 auto;
    margin: 0 10px;
    text-align: center;
    background-position: 70% center;
  }

  @include media-breakpoint-up(md) {
    justify-content: center;

    .btn {
      width: auto;
    }
  }
}
