.block-careers-list {
  padding: 60px 0 34px;

  .block-title {
    h3 {
      @include font-size($h3-font-size-sm, 2.625rem);
      font-weight: 500;
      line-height: 1;
      margin: 0 0 48px;

      & + h3 {
        display: none;
      }

      @include media-breakpoint-down(md) {
        font-weight: 300;
      }
    }
  }

  form {
    margin: 0 -8px 52px;

    .field {
      width: 100%;

      .form-select {
        font-size: 0.875rem;
        text-transform: uppercase;
        padding-top: 1.35rem;
        padding-bottom: 1.3rem;
      }
    }
  }

  .list {
    h3 {
      font-weight: 500;
      margin: 0 0 20px;

      @include media-breakpoint-down(md) {
        font-weight: 300;
      }
    }

    ul {
      margin: 0 0 60px;
      padding: 0;
      list-style: none;

      &:last-child {
        margin: 0;
      }

      li {
        margin: 0 0 60px;

        &:last-child {
          margin: 0;
        }

        a {
          text-decoration: none;
          display: block;
          padding: 0 0 14px;
          position: relative;

          .line {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: $secondary;
            transform: scaleX(0);
            transform-origin: 0 0;
          }

          .btn-rounded {
            @include media-breakpoint-down(md) {
              width: 16px;
              height: 16px;
            }
          }

          @include media-breakpoint-down(md) {
            font-weight: 300;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    .block-title {
      h3 {
        line-height: 1.05;
        margin: 0;

        & + h3 {
          display: block;
          margin: 0 0 23px;
        }
      }
    }

    form {
      margin: 0 0 52px;

      .field {
        width: auto;
      }
    }

    .list {
      h3 {
        font-size: 1.5rem;
      }
    }
  }

  @include media-breakpoint-between(xl, xxl) {
    padding: 155px 0 0px;
    margin: 0 0 -25px;

    .block-title {
      h3 {
        letter-spacing: -0.01em;
      }
    }

    form {
      margin: 0 0 126px;

      .field {
        width: 305px;

        .form-select {
          font-size: 1rem;
          text-transform: none;
          font-weight: 500;
          padding: 1.78rem 4rem 1.78rem 2rem;
          background-position: right 1.8rem center;
        }
      }
    }

    .list {
      h3 {
        margin: 0 0 55px;

        &:first-child {
          margin: 0 0 54px;
        }
      }

      ul {
        margin: 0 0 60px;

        li {
          margin: 0 0 27px;
          a {
            padding: 0 0 23px;
            .link-text {
              font-size: 26px;
              letter-spacing: 0.01em;
            }
            .btn {
              font-size: 12px;
              height: 40px;
              padding: 0 16px;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-up(xxl) {
    padding: 214px 0 0px;
    margin: 0 0 22px;

    form {
      margin: 0 0 98px;

      .field {
        width: 305px;

        .form-select {
          font-size: 1rem;
          line-height: 2;
          text-transform: none;
          font-weight: 500;
          padding: 1.28rem 4rem 1.28rem 2rem;
          background-position: right 1.8rem center;
        }
      }
    }

    .list {
      h3 {
        margin: 0 0 108px;

        &:first-child {
          margin: 0 0 96px;
        }
      }

      ul {
        margin: 0 0 77px;

        li {
          margin: 0 0 18px;
          a {
            .link-text {
              font-size: 2.125rem;
              letter-spacing: 0.01em;
            }
          }
        }
      }
    }
  }
}
