.global-wrapper-home {
  position: static;
  overflow: visible;

  .content {
    position: static;
  }
  .footer {
    z-index: -1;
  }
}

.block-home {
  height: 100vh;

  .block-inner {
    position: relative;
    z-index: 9;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    overflow: hidden;
  }
}

.block-home-1 {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  z-index: 1;

  &:after {
    content: "";
    width: 1px;
    height: 100%;
  }
  h1 {
    display: none;
  }

  .block-inner {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  .video {
    width: 100%;
    height: 100%;
    position: relative;

    video {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
