.block-contact-form {
  padding: 58px 0 77px;

  h2 {
    margin: 0 0 50px;
    font-size: clamp(2.5rem, get-vw($h4-font-size), $h4-font-size);
    font-weight: 350;
  }

  dl {
    letter-spacing: 0.01em;

    dt {
      display: block;
      color: $gray-300;
      font-size: 1rem;
      line-height: 1.28;
      margin: 0 0 11px;
      font-weight: 400;
    }

    dd {
      font-size: 1.5rem;
      line-height: 1.11;
      font-weight: 400;
      margin: 0 0 27px;
    }
  }

  .form-description {
    margin: 0 0 29px;

    h3 {
      margin: 0 0 52px;
      @include font-size($h3-font-size-sm, $h4-font-size);
    }

    @include media-breakpoint-down(md) {
      font-weight: 300;

      h3 {
        font-weight: 300;
      }
    }
  }

  form {
    padding: 56px 0 0;

    .form-select,
    input.form-control {
      border-width: 0 0 1px;
      border-radius: 0;
      padding-left: 0;
      @include media-breakpoint-down(md) {
        font-weight: 300;
      }
    }

    textarea.form-control {
      @include media-breakpoint-down(md) {
        font-weight: 300;
      }
    }

    .form-select {
      background-position: right center;
    }

    &.hs-custom-style {
      label:not(.hs-form-booleancheckbox-display) {
        @extend .form-label;
        @include media-breakpoint-down(md) {
          font-weight: 300;
        }
      }

      .input {
        input:not([type="image"]):not([type="submit"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]):not([type="file"]) {
          @extend .form-control;
          border-width: 0 0 1px;
          border-radius: 0;
          padding-left: 0;
          @include media-breakpoint-down(md) {
            font-weight: 300;
          }
        }
      }

      select {
        @extend .form-select;
        border-width: 0 0 1px;
        border-radius: 0;
        padding-left: 0;
        background-position: right center;
        @include media-breakpoint-down(md) {
          font-weight: 300;
        }
      }

      .hs-fieldtype-textarea textarea {
        @extend .form-control;
        height: 234px;
      }

      .inputs-list {
        margin: 0;
        padding: 0;
        list-style: none;

        .hs-form-booleancheckbox {
          .hs-form-booleancheckbox-display {
            @extend .form-check;

            input {
              @extend .form-check-input;
            }

            & > span {
              @extend .form-check-label;
              font-size: 0.875rem;
              padding: 0 15px 0 0;
              font-weight: 500;
              line-height: 1.48;
              display: block;
              margin: 0;
            }
          }
        }
      }

      .hs-submit {
        margin: 26px 0 0;

        .hs-button.primary {
          background-color: #e5ff00 !important;
          border-radius: 4px !important;
          width: auto !important;
          color: #0b0b0b !important;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          position: relative;
          height: 58px;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 14px;
          padding-left: 2.25em;
          padding-right: 2.25em;
          border: none;
          font-weight: 300 !important;
          white-space: nowrap;

          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            transform-origin: center;
            transition: all 0.3s;
          }

          &:hover:before {
            transform: scale(1.08);
          }
        }
      }
    }

    .field {
      margin: 0 0 26px;
      position: relative;

      .form-label {
        @include media-breakpoint-down(md) {
          font-weight: 300;
        }
      }

      &.field-text {
        margin-top: 21px;

        .form-label {
          margin-bottom: 1.4rem;
        }

        .form-control {
          height: 234px;
        }
      }

      .invalid,
      .error {
        border-color: $error !important;
        color: $error !important;
      }

      .hs-error-msgs {
        position: absolute;
        right: 15px;
        bottom: 0;
        text-align: right;
        max-width: 150px;

        label {
          text-transform: lowercase !important;
          color: $error !important;
          font-size: 12px !important;
          font-weight: 400 !important;
          line-height: 14.4px !important;
        }
      }
    }

    .form-check {
      margin-top: 10px;

      .form-check-label {
        font-size: 0.875rem;
        padding: 0 15px 0 0;
      }
    }

    .form-buttons {
      margin: 26px 0 0;

      .btn {
        width: 100%;
        padding-top: 3px;

        &[type="reset"] {
          flex-shrink: 0;
          width: auto;
        }

        @include media-breakpoint-down(md) {
          font-weight: 300;
        }
      }
    }
  }

  .form-box {
    min-height: 830px;
  }

  &--type1 {
    padding-top: 41px;
    padding-bottom: 0;
  }

  @include media-breakpoint-up(md) {
    .form-description {
      padding: 10px 0 0;
      p {
        font-size: 1rem;
        line-height: 1.35;
        max-width: 390px;
      }
    }

    form {
      padding: 0;

      .form-buttons {
        .btn {
          width: auto;

          &[type="reset"] {
            svg {
              display: none;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    h2 {
      margin: 0 0 50px;
    }

    dl {
      dt {
        font-size: 0.75rem;
        text-transform: uppercase;
      }
    }

    form {
      .form-label {
        font-size: 0.75rem;
        text-transform: uppercase;
      }

      &.hs-custom-style {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;

        .field {
          padding: 0 15px;
          width: 50%;

          &.hs-country_new,
          &.hs-description,
          &.hs-fieldtype-booleancheckbox {
            width: 100%;
          }
        }
        .legal-consent-container {
          width: 100%;
        }

        label:not(.hs-form-booleancheckbox-display) {
          font-size: 12px;
          font-weight: 500;
        }
      }
    }

    .form-box {
      min-height: 810px;
    }

    .form-box {
      min-height: 810px;
    }
  }

  @include media-breakpoint-up(xl) {
    &:not(.block-contact-form--type1) {
      padding-top: 205px;
    }

    h2 {
      font-weight: 400;
    }
  }

  @include media-breakpoint-between(xl, xxl) {
    padding: 107px 0 178px;

    h2 {
      font-size: 36px;
      margin: 0 0 60px;
    }

    dl {
      dt,
      dd {
        margin: 0 0 18px;
      }
      dd {
        font-size: 21px;
      }
    }

    form {
      padding: 2px 0 0;
      margin: 0 -6.8vw 0 0;

      .form-label {
        margin-bottom: 1.13rem;
      }
      .field {
        margin: 0 0 38px;

        &.field-text {
          margin-top: 2px;
          margin-bottom: 35px;
          .form-label {
            margin-bottom: 0.85rem;
          }
          .form-control {
            height: 140px;
          }
        }
      }
      .form-check {
        margin-top: -4px;
        .form-check-label {
          font-size: 1rem;
        }
      }
      .form-buttons {
        margin: 65px 0 0;
        .btn {
          height: 42px;
          padding: 3px 14px 0;
        }
      }
    }

    &--type1 {
      padding-top: 89px;
      padding-bottom: 130px;

      .form-description {
        h3 {
          line-height: 1;
          margin: 0 0 29px;
        }

        p {
          margin: 0 23% 0 0;
        }
      }

      form {
        margin: 0;
        padding: 12px 0 0;
      }
    }
  }

  @include media-breakpoint-up(xxl) {
    padding: 93px 0 128px;

    &:not(.block-contact-form--type1) {
      padding-top: 186px;
      padding-bottom: 240px;
    }

    dl {
      padding: 5px 0 0;

      dt {
        margin: 0 0 20px;
      }

      dd {
        font-size: 1.625rem;
        margin: 0 0 16px;
      }
    }

    form {
      padding: 91px 0 0;
      .form-label {
        margin: 0 0 1rem;
      }

      .field {
        margin: 0 0 35px;

        &.field-text {
          margin-top: 0;

          .form-label {
            margin-bottom: 0.7rem;
          }

          .form-control {
            height: 140px;
          }
        }
      }

      .form-check {
        margin-top: -3px;

        .form-check-label {
          font-size: 1rem;
        }
      }

      .form-buttons {
        margin: 64px 0 0;
      }

      &.hs-custom-style {
        label:not(.hs-form-booleancheckbox-display) {
          margin: 0 0 1rem;
        }

        .hs-fieldtype-textarea textarea {
          height: 140px;
        }

        .inputs-list {
          .hs-form-booleancheckbox {
            .hs-form-booleancheckbox-display {
              margin-top: -3px;

              & > span {
                font-size: 1rem;
              }
            }
          }
        }

        .hs-submit {
          margin: 64px 0 0;
        }
      }
    }

    &--type1 {
      padding-top: 89px;
      padding-bottom: 130px;

      .form-description {
        h3 {
          margin: 0 0 50px;

          br {
            display: none;
          }
        }

        p {
          margin: 0 23% 0 0;
        }
      }

      form {
        margin: 0;
        padding: 0;
      }
    }
  }
}
