.block-blog-article {
  padding: 0 0 30px;

  .article-intro {
    font-size: 28px;
    line-height: 1.2;
    padding: 29px 0 19px;
    letter-spacing: 0.01em;
    font-weight: 300;

    p {
      margin: 0;
    }
  }

  .article-details {
    max-width: 240px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.01em;

    .image {
      overflow: hidden;
      border-radius: 8px;
      margin: 0 0 21px;

      img {
        border-radius: 8px;
        display: block;
        max-width: 100%;
        height: auto;
      }
    }

    p {
      margin: 0 0 5px;
    }

    .btn {
      width: 100%;
      margin: 16px 0 0;
      padding: 0;
    }
  }

  .quote-wrapper {
    .inner {
      width: 100vw;
      position: relative;
      left: 50%;
      transform: translateX(-50%) !important;
    }
  }

  .podcast {
    margin: 0 0 60px;
  }

  .card-social {
    padding: 23px 21px;
    border-radius: 4px;
    margin: 0 0 25px;
    background-color: #e3e3e7 !important;

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }

    & > * {
      margin: 0 auto !important;
    }

    iframe {
      width: 100% !important;
      max-width: none !important;
    }
  }

  .article-main {
    font-weight: 300;

    h4 {
      @include font-size(2.125rem, $h4-font-size);
      line-height: 1.2;
      margin: 57px 0 51px;
      font-weight: 300;

      &:first-child {
        margin-top: 32px;

        @include media-breakpoint-up(md) {
          margin-top: 0;
        }
      }
    }

    p {
      margin: 0 0 25px;
    }

    .animated {
      a {
        color: $linkText;
        text-decoration: underline;
        text-underline-offset: 0.1em;

        .word,
        .char {
          display: inline !important;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    .article-intro {
      padding: 60px 0 0;
    }

    .row {
      margin-top: 60px;
    }

    .quote-wrapper {
      .inner {
        width: 100vw;
        position: relative;
        left: -16px;
        transform: translateX(-41.667%) !important;
      }
    }
  }

  @include media-breakpoint-between(xl, xxl) {
    padding: 0 0 197px;

    .container-fluid {
      padding: 0 10vw 0 3.3vw;
    }

    .article-intro {
      padding: 128px 0 0;
      font-size: 28px;
      line-height: 1.2;
      font-weight: 350;
    }

    .row {
      margin-top: 128px;
    }

    .article-details {
      max-width: 172px;
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0.01em;

      .image {
        margin: 0 0 18px;
      }

      .btn {
        margin: 13px 0 0;
        font-size: 12px;
        padding: 0;
        height: 41px;
      }
    }

    .quote-wrapper {
      padding: 0 0 51px;

      .inner {
        transform: translateX(-45%) !important;
      }

      figure .blockquote {
        margin: 0;
      }
    }

    .article-main {
      padding: 0 0 0 53px;

      p {
        margin: 0 0 30px;
        letter-spacing: 0.01em;
      }

      h4 {
        margin: 51px 0 30px;
        line-height: 1.2;
      }

      .card-social {
        padding: 74px 48px;
        border-radius: 16px;
        margin: 51px 0;
      }

      .podcast {
        margin: 51px 0;
        width: 768px;
        transform: scale(0.86);
        transform-origin: 0 0;
      }
    }

    &--podcast {
      .article-main {
        h4 {
          &:first-child {
            margin-top: -4px;
          }
        }

        p {
          margin: 0 0 28px;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .article-main {
      h4 {
        font-size: 34px;
        line-height: 1.2;
      }
    }
  }

  @include media-breakpoint-up(xxl) {
    padding: 0 0 156px;

    .article-intro {
      padding: 128px 0 0;
      font-size: 42px;
      line-height: 1.2;
      font-weight: 350;
    }

    .row {
      margin-top: 128px;
    }

    .quote-wrapper {
      padding: 0 0 51px;

      .inner {
        transform: translateX(-50%) !important;
      }

      figure .blockquote {
        margin: 0;
      }
    }

    .podcast {
      margin: 51px 0;
    }

    .card-social {
      padding: 69px 62px;
      border-radius: 8px;
      margin: 51px 0;
    }

    .article-main {
      h4 {
        margin: 51px 0 30px;
      }

      p {
        margin: 0 0 29px;
        letter-spacing: 0.01em;
      }
    }

    &--podcast {
      .article-main {
        p {
          margin: 0 0 34px;
        }
      }
    }
  }
}
