.block-filter {
  .container-fluid {
    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }

  .dropdown {
    position: relative;
    font-size: 1rem;
    font-weight: 350;

    .dropdown-toggle {
      display: inline-block;
      width: auto;
      padding: 0.95rem 2rem 0.8rem 27px;
      line-height: 1.5;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: $white;
      background-image: escape-svg($select-alt);
      background-repeat: no-repeat;
      background-position: right 0.75rem center;
      background-size: 6px 5px;
      border: none;
      border-radius: 0;
      white-space: nowrap;
    }

    .dropdown-menu {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 9999;
      background-color: $white;
      padding: 0 16px;
      transform: translateY(100%);
      transition: all 0.2s;

      ul {
        margin: 0 0 5px;
        padding: 0;
        list-style: none;

        li {
          label {
            background-color: #e3e3e7;
            border-bottom: 1px solid #aeaeae;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 47px;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            cursor: pointer;
          }

          input {
            display: none;

            &:checked + label {
              opacity: 1;
            }
          }

          &:last-child {
            label {
              border: none;
            }
          }
        }
      }

      .dropdown-toggle-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 47px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: $white;
        border: none;
        border-radius: 0;
        white-space: nowrap;
        width: 100%;
      }
    }

    &.active {
      .dropdown-menu {
        transform: translateY(0);
      }
    }
  }

  form {
    width: 100%;
    overflow: auto;
    border: 1px solid $gray-100;
    border-width: 1px 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .filter-list {
    ul {
      margin: 0;
      padding: 0 24px;
      list-style: none;
      display: inline-flex;

      li {
        margin: 0 32px 0 0;
      }

      label {
        padding: 21px 0;
        text-transform: uppercase;
        font-size: 1rem;
        line-height: 1;
        opacity: 0.3;
        transition: all 0.2s;
        cursor: pointer;
        font-weight: 500;
        white-space: nowrap;

        &:hover {
          opacity: 1;
        }
      }

      input {
        display: none;

        &:checked + label {
          opacity: 1;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    padding: 20px 0;
  }

  @include media-breakpoint-up(lg) {
    padding: 40px 0 40px;

    form {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      border: none;
      overflow: visible;
    }

    .filter-list {
      width: 100%;
      overflow: visible;
      border: none;

      ul {
        padding: 0;
        display: flex;
        flex-wrap: wrap;

        li {
          margin: 0 24px 0 0;

          &:last-child {
            margin: 0;
          }
        }
      }
    }

    .sort {
      text-align: right;
      border-bottom: none;
      flex: 0 0 auto;

      .dropdown-toggle {
        text-transform: uppercase;
      }
    }

    .dropdown {
      .dropdown-toggle {
        width: 132px;
        height: 53px;
        padding: 0.95rem 2rem 0.8rem 27px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s;

        &:hover {
          background-color: #e3e3e7;
        }
      }

      .dropdown-menu {
        position: absolute;
        left: 0;
        top: 102%;
        padding: 0;
        transform: none;
        display: none;

        ul {
          margin: 0;

          li {
            label {
              transition: all 0.2s;

              &:hover {
                background-color: $white;
              }
            }
          }
        }

        .dropdown-toggle-inner {
          display: none;
        }
      }

      &.active {
        .dropdown-menu {
          display: block;
        }

        .dropdown-toggle {
          background-color: #e3e3e7;
        }
      }
    }
  }

  @include media-breakpoint-between(xl, xxl) {
    padding: 48px 0 44px;

    .dropdown {
      font-size: 18px;
      font-weight: 500;
    }

    .filter-list {
      ul {
        li {
          margin: 0 33px 0 0;
        }

        label {
          padding: 21px 0;
          font-size: 18px;
        }
      }
    }
  }

  @include media-breakpoint-up(xxl) {
    padding: 76px 0 108px;

    .dropdown {
      font-size: 21px;
      font-weight: 350;
    }

    .filter-list {
      ul {
        li {
          margin: 0 65px 0 0;
        }

        label {
          padding: 21px 0;
          font-size: 21px;
        }
      }
    }
  }
}
