.block-home-4 {
  height: auto;
  overflow: hidden;

  .block-inner {
    padding: 60px 24px 48px;
    height: auto;
  }

  .slide1 {
    margin: 0 0 64px;
    color: $primary;

    p {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.11;
      letter-spacing: 0.01em;
      margin: 0 0 59px 0;
      position: relative;
      z-index: 2;
    }

    .btn {
      width: auto;
      flex-shrink: 0;

      @include media-breakpoint-up(md) {
        color: $primary;
        background-color: transparent;

        .btn-label {
          color: transparent;

          &:before,
          &:after {
            color: $primary;
          }
        }

        &:before {
          border: 1px solid $primary;
          background-color: transparent;
        }

        .btn-arrow {
          .btn-arrow-inner {
            svg {
              path {
                fill: $primary;
              }
            }
          }
        }
      }
    }

    .video-arrow {
      display: none;
    }
  }

  .card-home {
    background-color: $primary;
    margin: 0 0 32px;
    border-radius: 0 0 4px 4px;
    transition: all 0.2s;
    cursor: pointer;

    .card-body {
      display: flex;
      flex-direction: column;
      padding: 32px 24px;
      position: relative;
      height: 100%;

      .card-title {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.15;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        text-align: right;
        margin: 0 0 15px;
      }

      .card-icon {
        width: auto;
        height: 190px;
        display: flex;
        align-items: center;

        img {
          display: block;
          max-height: 100%;
          width: auto;
        }
      }

      .card-footer {
        margin-top: auto;
        padding: 15px 0 0;

        p {
          margin: 0 0 10px;
          font-weight: 350;
          line-height: 1.154;

          @include media-breakpoint-down(md) {
            font-weight: 300;
          }
        }

        strong {
          font-size: 0.75rem;
          font-weight: 500;
          line-height: 1.3;
          letter-spacing: 0.01em;
          display: block;
          margin: 0 0 13px;
        }

        .card-logo {
          img {
            width: auto;
            height: 30px;
            display: block;
          }
        }
      }
    }

    &:hover {
      background-color: $white;
    }
  }

  .slide6 {
    position: relative;
    margin: 64px 0 0;

    .circle {
      @include abs;
      // animation: rotateCircle 50s linear infinite forwards;

      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 50%;
        height: 100%;
        background: url(../images/circle.svg) 0 0 / cover no-repeat;
        top: 0;
      }

      &:after {
        right: 0;
        transform: scaleX(-1);
      }
    }

    .wrapper {
      position: relative;
      width: 50%;
      left: 50%;
    }

    .slide-text {
      background: url(../images/circle-half.svg) 0 0 / cover no-repeat;
      padding: 200% 0 0;
      position: relative;

      p {
        @include abs-center;
        color: $primary;
        margin: 0;
        padding: 0 2rem 0 0;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .block-inner {
      padding: 0;
    }

    .section-horizontal {
      min-height: 100vh;
      width: auto;
      display: inline-flex;
      align-items: flex-start;
      padding: 60px 0 60px 0;

      & > * {
        flex-shrink: 0;
      }
    }

    .slide1 {
      width: 53vw;
      padding: 0 24px;
      margin: 0 10vw 0 0;
    }

    .slide2,
    .slide3,
    .slide4,
    .slide5 {
      width: 400px;
      padding: 0 40px 0 0;
      position: relative;
      z-index: 2;
    }

    .card-home {
      margin: 0;
      height: 100%;
    }

    .slide6 {
      width: 37.14vw;
      align-self: flex-start;
      margin: 0 10vw 0 14.4vw;

      .wrapper {
        width: 100%;
        left: 0;
      }

      .circle {
        width: 200%;
        left: -100%;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .section-horizontal {
      padding: 60px 0;
    }

    .slide1 {
      margin: 0 12vw 0 11vw;

      p {
        font-size: 2rem;
        line-height: 1.16;
        margin: 0 0 172px 0;
      }
    }

    .slide2,
    .slide3,
    .slide4,
    .slide5 {
      width: 548px;
      padding: 0 60px 0 0;
    }

    .card-home {
      margin: 0;

      .card-body {
        padding: 43px 48px;

        .card-icon {
          height: 150px;
        }

        .card-footer {
          strong {
            font-size: 1rem;
            font-weight: 500;
            letter-spacing: 0;
            margin: 0 0 13px;
          }

          .card-logo {
            img {
              height: 37px;
            }
          }
        }
      }
    }

    .slide6 {
      .slide-text {
        p {
          font-size: 40px;
          line-height: 1.17;
          font-weight: 500;
          padding: 0;
          left: 0;
          top: auto;
          bottom: 0;
          transform: translate3d(51.2%, -108%, 0);
        }
      }
    }
  }

  @include media-breakpoint-up(xxl) {
    .section-horizontal {
      padding: 100px 0;
    }

    .slide1 {
      margin: 0 19.5vw 0 8.3vw;
      width: 56vw;

      p {
        font-size: 54px;
        margin: -10px 0 98px 0;
        letter-spacing: 0;
      }
    }

    .slide2,
    .slide3,
    .slide4,
    .slide5 {
      width: 575px;
      padding: 0 87px 0 0;
    }

    .card-home {
      border-radius: 5px;

      .card-body {
        padding: 44px 48px 48px;

        .card-title {
          margin: 0 0 35px;
        }

        .card-icon {
          height: 190px;
        }
        .card-footer {
          padding: 31px 0 0;
          p {
            letter-spacing: 0.01em;
            margin: 0 0 22px;
          }
        }
      }
    }

    .slide6 {
      .slide-text {
        p {
          font-size: 56px;
        }
      }
    }
  }
}

@keyframes rotateCircle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
