.block-logos {
  padding: 26px 0 46px;

  .container-fluid {
    @include media-breakpoint-up(xl) {
      padding: 0 1.5rem !important;
    }
  }

  h3 {
    margin: 0 0 16px;
    @include font-size($h3-font-size-sm, 2.625rem);
    font-weight: 500;
  }

  p {
    margin: 0 0 28px;
    font-weight: 500;
  }

  .logos-list {
    ul {
      margin: 0 -8px;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      li {
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          display: block;
        }
      }
    }
  }

  // .logos-slider {
  //   .swiper-wrapper {
  //     transition-timing-function: linear;
  //   }

  //   .swiper-slide {
  //     width: fit-content;
  //     height: auto;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;

  //     img {
  //       display: block;
  //     }
  //   }
  // }

  @include media-breakpoint-up(md) {
    .logos-list {
      ul {
        flex-wrap: nowrap;
        margin: 0;
        justify-content: space-between;

        li {
          padding: 0;
          margin: 0 0 32px;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    h3 {
      margin: 0 0 17px;
    }

    p {
      letter-spacing: 0.01em;
      font-weight: 400;
      margin: 0 0 93px;
    }
  }

  @include media-breakpoint-up(xxl) {
    h3 {
      margin: 0 0 17px;
    }

    p {
      margin: 0 0 55px;
    }

    .logos-list {
      ul {
        justify-content: center;
        margin: 0 -3.8vw;

        li {
          padding: 0 3.8vw;

          &:first-child {
            padding-left: 0;
          }

          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
  }
}
