.block-home-parallax {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  &:after {
    content: "";
    @include abs;
    background-color: rgba($black, 0.6);
  }

  .parallax-wrapper {
    width: 100vw;
    height: 100vh;
  }

  .parallax-item {
    position: absolute;

    img {
      @include img-fit;
    }

    &.parallax-item-1 {
      width: 43px;
      height: 43px;
      left: 10%;
      top: 10.66vh;
    }

    &.parallax-item-2 {
      width: 41px;
      height: 73px;
      right: 13.6%;
      top: 15vh;
    }

    &.parallax-item-3 {
      width: 35px;
      height: 35px;
      left: -11px;
      top: 27.5vh;
    }

    &.parallax-item-4 {
      width: 57px;
      height: 101px;
      left: 39%;
      top: 23.5vh;
    }

    &.parallax-item-5 {
      width: 56px;
      height: 56px;
      right: 21.3%;
      top: 48.5vh;
    }

    &.parallax-item-6 {
      width: 41px;
      height: 73px;
      left: 17.4%;
      top: 63.3vh;
    }

    &.parallax-item-7 {
      width: 56px;
      height: 56px;
      right: 12.3%;
      top: 80.5vh;
    }
  }

  @include media-breakpoint-up(md) {
    .parallax-item {
      &.parallax-item-1 {
        width: 6.5vw;
        height: 8vw;
        left: 20.2%;
        top: 5vw;
      }

      &.parallax-item-2 {
        width: 6vw;
        height: 11.6vw;
        right: -2vw;
        top: 10vh;
      }

      &.parallax-item-3 {
        width: 6vw;
        height: 11.5vw;
        left: -3.5vw;
        top: 25.5vh;
      }

      &.parallax-item-4 {
        width: 6.6vw;
        height: 11.5vw;
        left: auto;
        top: 20.5vh;
        right: 13.4vw;
      }

      &.parallax-item-5 {
        width: 6.5vw;
        height: 6.5vw;
        right: auto;
        top: 52.5vh;
        left: 11vw;
      }

      &.parallax-item-6 {
        width: 6.2vw;
        height: 6.2vw;
        left: auto;
        top: 65vh;
        right: 21vw;
      }

      &.parallax-item-7 {
        width: 6.5vw;
        height: 6.5vw;
        right: 24.3vw;
        top: 0;
      }
    }
  }
}
