.block-home-2 {
  // height: 400vh;
  position: relative;
  height: auto !important;
  margin: 0 0 -25vh;

  .rs-stickyscrollon {
    rs-module-wrap {
      height: 100vh !important;
    }

    rs-module {
      height: 100vh !important;
      max-height: 100vh !important;
    }
  }
}
