.block-contact-form {
  padding: 58px 0 77px;

  h2 {
    margin: 0 0 50px;
    font-size: clamp(2.5rem, get-vw($h4-font-size), $h4-font-size);
    font-weight: 350;
  }

  dl {
    letter-spacing: 0.01em;

    dt {
      display: block;
      color: $gray-300;
      font-size: 1rem;
      line-height: 1.28;
      margin: 0 0 11px;
      font-weight: 400;
    }

    dd {
      font-size: 1.5rem;
      line-height: 1.11;
      font-weight: 400;
      margin: 0 0 27px;
    }
  }

  .form-description {
    margin: 0 0 29px;

    h3 {
      margin: 0 0 52px;
      @include font-size($h3-font-size-sm, $h4-font-size);
    }

    @include media-breakpoint-down(md) {
      font-weight: 300;

      h3 {
        font-weight: 300;
      }
    }
  }

  form {
    padding: 56px 0 0;

    .form-select,
    input.form-control {
      border-width: 0 0 1px;
      border-radius: 0;
      padding-left: 0;
      @include media-breakpoint-down(md) {
        font-weight: 300;
      }
    }

    textarea.form-control {
      @include media-breakpoint-down(md) {
        font-weight: 300;
      }
    }

    .form-select {
      background-position: right center;
    }

    .field {
      margin: 0 0 26px;

      .form-label {
        @include media-breakpoint-down(md) {
          font-weight: 300;
        }
      }

      &.field-text {
        margin-top: 21px;

        .form-label {
          margin-bottom: 1.4rem;
        }

        .form-control {
          height: 234px;
        }
      }
    }

    .form-check {
      margin-top: 10px;

      .form-check-label {
        font-size: 0.875rem;
        padding: 0 15px 0 0;
      }
    }

    .form-buttons {
      margin: 26px 0 0;

      .btn {
        width: 100%;
        padding-top: 3px;

        &[type="reset"] {
          flex-shrink: 0;
          width: auto;
        }

        @include media-breakpoint-down(md) {
          font-weight: 300;
        }
      }
    }
  }

  &--type1 {
    padding-top: 41px;
    padding-bottom: 0;
  }

  @include media-breakpoint-up(md) {
    .form-description {
      padding: 10px 0 0;
      p {
        font-size: 1rem;
        line-height: 1.35;
        max-width: 390px;
      }
    }

    form {
      padding: 0;

      .form-buttons {
        .btn {
          width: auto;

          &[type="reset"] {
            svg {
              display: none;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    h2 {
      margin: 0 0 50px;
    }

    dl {
      dt {
        font-size: 0.75rem;
        text-transform: uppercase;
      }
    }

    form {
      .form-label {
        font-size: 0.75rem;
        text-transform: uppercase;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    &:not(.block-contact-form--type1) {
      padding-top: 205px;
    }

    h2 {
      font-weight: 400;
    }
  }

  @include media-breakpoint-between(xl, xxl) {
    padding: 107px 0 178px;

    h2 {
      font-size: 36px;
      margin: 0 0 60px;
    }

    dl {
      dt,
      dd {
        margin: 0 0 18px;
      }
      dd {
        font-size: 21px;
      }
    }

    form {
      padding: 2px 0 0;
      margin: 0 -6.8vw 0 0;

      .form-label {
        margin-bottom: 1.13rem;
      }
      .field {
        margin: 0 0 38px;

        &.field-text {
          margin-top: 2px;
          margin-bottom: 35px;
          .form-label {
            margin-bottom: 0.85rem;
          }
          .form-control {
            height: 140px;
          }
        }
      }
      .form-check {
        margin-top: -4px;
        .form-check-label {
          font-size: 1rem;
        }
      }
      .form-buttons {
        margin: 65px 0 0;
        .btn {
          height: 42px;
          padding: 3px 14px 0;
        }
      }
    }

    &--type1 {
      padding-top: 89px;
      padding-bottom: 130px;

      .form-description {
        h3 {
          line-height: 0.9;
          margin: 0 0 29px;
        }

        p {
          margin: 0 23% 0 0;
        }
      }

      form {
        margin: 0;
        padding: 12px 0 0;
      }
    }
  }

  @include media-breakpoint-up(xxl) {
    padding: 93px 0 128px;

    &:not(.block-contact-form--type1) {
      padding-top: 186px;
      padding-bottom: 240px;
    }

    dl {
      padding: 5px 0 0;

      dt {
        margin: 0 0 20px;
      }

      dd {
        font-size: 1.625rem;
        margin: 0 0 16px;
      }
    }

    form {
      padding: 91px 0 0;
      .form-label {
        margin: 0 0 1rem;
      }

      .field {
        margin: 0 0 35px;

        &.field-text {
          margin-top: 0;

          .form-label {
            margin-bottom: 0.7rem;
          }

          .form-control {
            height: 140px;
          }
        }
      }

      .form-check {
        margin-top: -3px;

        .form-check-label {
          font-size: 1rem;
        }
      }

      .form-buttons {
        margin: 64px 0 0;
      }
    }

    &--type1 {
      padding-top: 89px;
      padding-bottom: 130px;

      .form-description {
        h3 {
          margin: 0 0 50px;

          br {
            display: none;
          }
        }

        p {
          margin: 0 23% 0 0;
        }
      }

      form {
        margin: 0;
        padding: 0;
      }
    }
  }
}
