.block-testimonials {
  padding: 27px 0 0;

  &:last-child {
    margin-bottom: 100px;
  }

  h3 {
    margin: 0 0 18px;
    @include font-size($h3-font-size-sm, $h4-font-size);
    font-weight: 500;

    @include media-breakpoint-down(md) {
      font-weight: 300;
    }
  }

  .text-center {
    p {
      font-weight: 350;
      margin: 0 10px 24px;

      @include media-breakpoint-down(md) {
        font-weight: 300;
      }
    }
  }

  .testimonial {
    padding: 34px 0 26px;

    .video-wrapper {
      overflow: hidden;
      border-radius: 8px;
      position: relative;

      .video {
        @include img-abs-container(100%);
        transform: translateY(-30%);

        video {
          border-radius: 8px;
        }
      }

      .video-controls {
        position: absolute;
        left: 20px;
        bottom: 20px;
        z-index: 2;
      }

      .btn-video-play {
        background: url(../images/icon-play-primary.svg) 0 0 no-repeat;
        border: none;
        appearance: none;
        padding: 0;
        position: absolute;
        left: 32px;
        bottom: 32px;
        z-index: 2;
        width: 53px;
        height: 53px;
      }
    }

    .image {
      border-radius: 8px;

      img {
        border-radius: 8px;
        @extend .img-fluid;
      }
    }

    .testimonial-text {
      padding: 57px 0 0;

      .blockquote {
        margin: 0;

        &:before {
          content: "“";
          display: block;
          font-size: 64px;
          letter-spacing: 0.01em;
          line-height: 1;
          margin: 0 0 -22px;
        }

        p {
          font-size: 1.5rem;
          line-height: 1.12;
          letter-spacing: 0.01em;
          margin: 0 45px 0 0;
        }
      }

      .blockquote-footer {
        font-size: 0.875rem;
        line-height: 1.48;
        font-weight: 500;
        color: $secondary;
        padding: 54px 0 0;
        margin: 0;

        &:before {
          display: none;
        }

        strong {
          display: block;
          letter-spacing: -0.01em;
          font-weight: 700;
          margin: 0 0 5px;
        }
      }
    }

    &--img-left {
      .testimonial-text {
        padding: 57px 0 0;

        .blockquote {
          p {
            margin: 0 40px 0 0;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    .testimonial {
      .testimonial-text {
        padding: 0;

        .blockquote {
          p {
            margin: 0 !important;
          }
        }
      }

      &--video {
        .row {
          align-items: center;
        }
      }

      &--img-right {
        .row {
          flex-direction: row-reverse;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    padding: 122px 0 0;

    &:last-child {
      margin-bottom: 185px;
    }

    h3 {
      margin: 0 0 18px;
    }

    .text-center {
      margin: 0 0 64px;
      p {
        font-weight: 400;
        margin: 0;
      }
    }

    .testimonial {
      padding: 26px 0 125px;

      .video-wrapper {
        margin: 0 -4px 0 0;
      }

      .testimonial-text {
        width: 504px;
        margin-left: 8.5vw;

        .blockquote {
          position: relative;

          &:before {
            position: absolute;
            left: -43px;
            top: 0;
          }

          p {
            font-size: 21px;
            line-height: 1.3;
          }
        }

        .blockquote-footer {
          font-size: 1.125rem;
          padding: 50px 0 0;
          letter-spacing: 0.01em;

          strong {
            letter-spacing: 0.01em;
            margin: 0 0 2px;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(xxl) {
    padding: 0;

    &--padding-top {
      padding-top: 64px;
    }

    h3 {
      margin: 0 0 18px;
    }

    .text-center {
      margin: 0 0 118px;
    }

    .testimonial {
      padding: 32px 0 125px;

      .testimonial-text {
        margin-left: 6.5vw;

        .blockquote {
          p {
            font-size: 26px;
          }
        }
      }

      .video-wrapper {
        .btn-video-play {
          left: 64px;
          bottom: 64px;
        }
      }
    }
  }
}
