.page-header-text {
  text-align: center;
  padding: 126px 0 26px;

  h1 {
    @include font-size(2.875rem, $h1-font-size);
    margin: 0 0 20px;

    @include media-breakpoint-down(md) {
      line-height: 0.9;
    }
  }

  p {
    margin: 0 auto;
    color: $gray-300;
    max-width: 36em;
    font-weight: 300;
  }

  &--clients {
    background-color: $white;
    position: relative;
    z-index: 9;

    h1 {
      line-height: 0.98;
    }
  }

  &--contact {
    @include media-breakpoint-down(sm) {
      padding: 129px 0 56px;
      h1 {
        margin: 0 0 22px;
        br {
          display: none;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    padding: 210px 0 54px;

    h1 {
      margin: 0 0 30px;
    }

    p {
      font-size: 26px;
      font-weight: 400;
    }

    &--clients {
      padding: 200px 0 87px;

      p {
        font-size: 21px;
        letter-spacing: 0.01em;
        font-weight: 400;
        max-width: 45em;
      }
    }

    &--contact {
      p {
        max-width: 34em;
      }
    }
  }

  @include media-breakpoint-between(xl, xxl) {
    h1 {
      font-size: 7.125rem;
      line-height: 0.85;
      font-weight: 400;
      margin: 0 0 44px;
    }

    &--contact {
      h1 {
        font-weight: 300;
        margin: 0 0 31px;
      }
    }
  }

  @include media-breakpoint-up(xxl) {
    padding: 203px 0 51px;

    h1 {
      margin: 0 0 33px;
    }

    p {
      line-height: 1.3;
    }

    &--clients {
      padding: 205px 0 44px;

      h1 {
        line-height: 0.85;
        margin: 0 0 35px;
      }

      p {
        font-size: 26px;
        line-height: 135%;
        max-width: 42em;
      }
    }

    &--contact {
      p {
        max-width: 37em;
      }
    }
  }
}
