.page-header-two-col {
  padding: 160px 0 28px;

  h1 {
    margin: 0;
  }

  p {
    margin: 1.25rem 0 0;
  }

  @include media-breakpoint-between(xl, xxl) {
    padding: 208px 0 105px;

    h1 {
      font-size: 114px;
      line-height: 1;
    }

    p {
      margin: 0 0 0.15rem;
    }
  }

  @include media-breakpoint-up(xxl) {
    padding: 252px 0 105px;

    p {
      margin: 0 0 0.8rem;
    }
  }
}

.page-header-full-width {
  padding: 161px 0 59px;

  h2 {
    font-size: clamp(3rem, get-vw($h2-font-size), $h2-font-size);
    line-height: 1.04;
    letter-spacing: -0.015em;
    margin: 0 0 1.4rem;
  }

  .text {
    padding: 55px 0 0;

    p {
      margin: 0 0 13px;

      small {
        font-size: 0.875rem;
      }

      &:last-child {
        margin: 0;
      }
    }
  }

  @include media-breakpoint-between(xl, xxl) {
    padding-bottom: 126px;

    h2 {
      font-size: 78px;
      line-height: 1.1;
    }

    .text {
      padding: 77px 0 0;
      p {
        margin: 0 0 11px;

        small {
          font-size: 1rem;
        }
      }
    }

    .btn {
      margin-bottom: 18px;
      height: 42px;
    }
  }

  @include media-breakpoint-up(xxl) {
    padding-bottom: 184px;

    h2 {
      line-height: 1.1;
    }

    .text {
      p {
        margin: 0 0 6px;

        small {
          font-size: 1.125rem;
        }
      }
    }

    .btn {
      margin-bottom: 10px;
    }
  }
}

.page-header-career {
  padding: 121px 0 16px;

  .link-back {
    font-size: 14px;
    font-weight: 300;
    line-height: 18.2px;
    letter-spacing: -0.01em;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: #818181;
  }

  h1 {
    font-size: clamp(2.875rem, get-vw(6.875rem), 6.875rem);
    text-transform: uppercase;
    margin: 17px 0 0;
    font-weight: 300;
  }

  .tags {
    margin: 23px 0 0;
  }

  @include media-breakpoint-between(xl, xxl) {
    h1 {
      font-size: 5.55vw;
      line-height: 0.9;
      margin: 41px 0 0;
    }
  }

  @include media-breakpoint-up(xl) {
    padding: 192px 0 50px;

    .link-back {
      font-weight: 500;
    }

    .tags {
      margin: 21px 0 0 5px;
    }
  }

  @include media-breakpoint-up(xxl) {
    padding: 184px 0 60px;

    h1 {
      margin: 50px 0 0;
      line-height: 0.9;
    }

    .tags {
      margin: 12px 0 0;
    }
  }
}
