.page-header-text {
  text-align: center;
  padding: 126px 0 26px;

  h1 {
    @include font-size(2.875rem, $h1-font-size);
    margin: 0 0 20px;

    @include media-breakpoint-down(md) {
      line-height: 0.9;
    }
  }

  p {
    margin: 0 auto;
    color: $gray-300;
    max-width: 36em;
    font-weight: 300;
  }

  @include media-breakpoint-up(xl) {
    padding: 210px 0 54px;

    h1 {
      margin: 0 0 30px;
    }

    p {
      font-size: 26px;
      font-weight: 400;
    }
  }

  @include media-breakpoint-between(xl, xxl) {
    h1 {
      font-size: 7.125rem;
      line-height: 0.85;
    }
  }

  @include media-breakpoint-up(xxl) {
    padding: 210px 0 41px;

    h1 {
      margin: 0 0 33px;
    }
  }
}
