.page-header-case {
  height: 100vh;

  .block-inner {
    position: relative;
    height: 100%;
  }

  .media {
    height: 100%;
    overflow: hidden;

    .img-fade {
      height: 100%;
    }

    img,
    video {
      @include img-fit;
    }
  }

  .text {
    @include abs;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 9;
    padding: 0 0 47px;

    h1 {
      @include font-size(2.875rem, $h1-font-size);
      line-height: 0.97;
      color: $primary;
      margin: 0 0 56px;

      em {
        font-style: normal;
        color: $gray-200;
        display: block;
      }
    }

    .btn-watch {
      display: inline-flex;
      align-items: center;
      font-size: 20px;
      line-height: 1.15;
      letter-spacing: -0.01em;
      text-transform: uppercase;
      color: $primary;
      text-decoration: none;
      font-weight: 500;
      white-space: nowrap;

      &:after {
        content: "";
        width: 53px;
        height: 53px;
        background: url(../images/icon-play-primary.svg) no-repeat;
        background-size: cover;
        display: block;
        margin: 0 0 0 20px;
      }
    }

    .video-controls {
      display: none;
    }
  }

  &.video-wrapper {
    h1 {
      display: none;
    }
  }

  @include media-breakpoint-up(lg) {
    .text {
      padding: 0 0 64px;

      .container-fluid {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }

      h1 {
        line-height: 0.8;
        margin: 0 0 -0.1em;
      }

      .btn-watch {
        font-size: 14px;
        margin: 0 0 7px;

        &:after {
          margin: 0 0 0 28px;
        }
      }
    }

    .video-controls {
      margin: 0 0 -12px;
    }
  }

  @include media-breakpoint-between(xl, xxl) {
    .text {
      h1 {
        font-size: 9.125rem;
        line-height: 0.9;
      }
    }

    .video-controls {
      margin: 0 0 -8px;
    }
  }

  @include media-breakpoint-up(xl) {
    .text {
      padding: 0 0 56px;
    }
  }

  @include media-breakpoint-up(xxl) {
    .text {
      padding: 0 0 128px;

      .btn-watch {
        font-size: 21px;
        margin: 0;

        &:after {
          margin: 0 0 0 20px;
        }
      }
    }
  }
}
