@font-face {
  font-family: "acid_grotesk";
  src: url("../fonts/acid-grotesk-medium.woff2") format("woff2"), url("../fonts/acid-grotesk-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "acid_grotesk";
  src: url("../fonts/acid-grotesk-bold.woff2") format("woff2"), url("../fonts/acid-grotesk-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "acid_grotesk";
  src: url("../fonts/acid-grotesk-regular.woff2") format("woff2"), url("../fonts/acid-grotesk-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
